.my-list{
	text-align: center;
}
.my-list p{
	-webkit-user-select:none;
	-moz-user-select:-moz-none;
	-ms-user-select:none;user-select:none;
	user-select: none;
	margin-bottom: 0px;
	padding: 0px;
}
.my-list ul {
	padding: 0px;
	list-style: none;
}
.my-list ul li {
	border: 1px solid #dee2e6;
	background-clip: border-box;
	padding: .75rem 1.25rem;
	text-align: center;
}
.my-list ul li:hover{
	background-color: rgba(1,1,1,0.1);
	cursor: default;
}
.my-list ul li.active{
	background-color: #007bff;
	color: white;
	border-color: #007bff;
}
.my-list ul li.active:hover{
	background-color: rgba(109, 111, 255, 0.8);
	border-color: rgba(1,1,1,0.1);
	cursor: default;
}